@page
@model PunteggioModel
@{
    
}

@if(Model.Mod=="difficile")
{
<h1>Welcome, @Model.Username!</h1>

<h3> Il tuo Record è: @Model.HighScore </h3> 

<p>Il tuo punteggio è: @Model.Score</p>

<p>I tuoi ultimi 5 punteggi:</p>

<div class="container">
  <div class="row">
  @foreach(var x in Model.ultimi5ScoreUtente)
    {
    <div class="col-sm bg-dark text-light">
      @x
    </div>
    
    }
  </div>
</div>



 @* @foreach(var x in Model.ultimi5ScoreUtente)
 {
    <p>@x</p>
 } *@
 
 <br>

 <p>Risp Corrette:</p>

 @foreach(var rispCorretta in Model.rispCorretteList)
 {
    <p>@rispCorretta</p>
 }

@foreach(var risp in Model.Risposte)
{
    <p>@risp</p>
}


 <p>Modalita: @Model.Mod</p>

 
}
else if(Model.Mod=="facile")
{
  <h1>Welcome, @Model.Username!</h1>

  <p>@Model.Username hai fatto @Model.Score punti!</p>

  
  <br>
  
   <h1>risp corrette</h1>

  foreach(var risp in Model.rispCorretteList)
  {
  <p>@risp</p>
  }

  foreach(var risp in Model.Risposte)
  {
  <p>@risp</p>
  }

  <p>@Model.Score</p>
}


